##Introductory Text – Consultation Portal

The UK Government has set out its New Plan for Immigration – full details of that plan have been published in the Government’s policy statement.  This plan will help to build a new fair, but firm asylum and illegal migration system.  The objectives of the plan are to: 

- Firstly, increase the fairness and efficacy of our system so that we can better protect and support those in genuine need of asylum.
- Secondly, deter illegal entry into the UK, thereby breaking the business model of criminal trafficking networks and protecting the lives of those they endanger; and
- Thirdly, remove more easily from the UK those with no right to be here. 

To inform the proposals set out in the policy statement, and to ensure we can deliver effective legislative change across the system, we want to listen to a wide range of views from stakeholders and sectors, as well as members of the public.  The questions included in this portal ask for your comment and opinion on our plans for a new fair, but firm system.

To inform the proposals set out and ensure we can deliver effective legislative change across the system we are, from 24 March, initiating a 6-week comprehensive consultation and engagement process, which will be undertaken on behalf of the UK Government.  We want to listen to a wide range of views from stakeholders and sectors, as well as members of the public.  We look forward to receiving your feedback.

##Introductory questions

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Welcome: introduction to the programme and consultation</td>
<td>HO to provide text on introduction to the programme and the consultation, including ministerial welcome video.&nbsp;<br /><br />Page to include button to access PDF of policy statement available to download.</td>
<td><strong>&nbsp;</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Respondents will first be asked to enter their email address and choose a password to set up their account. They will then be shown a series of questions to determine whether they are a stakeholder organisation &nbsp;or a member of the public. For stakeholder organisations, there are a number of questions to record their sector, policy area and organisation name to allow for sub-group analysis of responses.<span>&nbsp;<br /><br /></span>&nbsp;<strong>Q1. Please enter your first name [SHORT OPEN ENDED QUESTION]</strong><strong>&nbsp;<br /><br /></strong><strong>Q2. Please enter your surname [SHORT OPEN ENDED QUESTION]</strong><strong>&nbsp;<br /><br /></strong><strong>Q3. Which of the following describes where you live? [SINGLE CODE]</strong><br />- Scotland<br />- Northern Ireland<br />- North East<br />- North West<br />- Yorkshire and the Humber<br />- West Midlands<br />- East Midlands<br />- Wales<br />- East of England<br />- London<br />- South East<br />- South West <br /><br /><strong>Q4. Which of the following best reflects the purpose of your response to this survey?&nbsp; [SINGLE CODE]<br />- </strong>I / the organisation I work for was invited directly by the Home Office<br />- I am responding as part of my professional role/on behalf of my organisation, but was not invited directly by the Home Office<br />- I am a member of the public submitting a personal response to the consultation <br /><br /><strong>Q5. Which policy area(s) do you mainly work in? If you are a member of the public submitting a personal response, please select N/A [MULTI CODE]<br />- </strong>N/A<br />- Immigration<br />- Asylum<br />- Children and young people<br />- Local government and community issues<br />- Housing<br />- Health<br />- Other<br /><br /><strong>Q6. Which of the following categories best describes your organisation? If you are a member of the public submitting a personal response, please select N/A [SINGLE CODE]<br />- </strong>Central Government/Civil Service<br />- Third Sector/ Voluntary<br />- Local Authority<br />- Public Service (e.g. health, law, enforcement)<br />- Business/Industry<br />- Academia<br />- Other<strong><br /><br /></strong><strong>Q7. What is the name of your organisation? If you are a member of the public submitting a personal response, please write N/A [SHORT OPEN ENDED QUESTION]</strong>&nbsp;</td>
<td><strong>&nbsp;</strong></td>
</tr>
<tr>
<td>Consultation homepage</td>
<td>This will include an overview of the different question &lsquo;activities&rsquo;, aligned to the chapters.</td>
<td><strong>&nbsp;</strong></td>
</tr>
<tr>
<td>About you</td>
<td>Ipsos Mori demographic screening questions [to be provided by Ipsos polling team]</td>
<td><strong>&nbsp;</strong></td>
</tr>
<tr>
<td>Introduction to the policy statement<br /><br />1</td>
<td>The foreword provides a high level outline of the New Plan for Immigration, including reforms to make the system fair, but firm.<br /><br />Overall, how far do you support or oppose what is being said here?&nbsp;&nbsp;</td>
<td>- Strongly support<br />- Tend to support<br />- Neither support nor oppose<br />- Tend to oppose<br />- Strongly oppose<br />- Don&rsquo;t know</td>
</tr>
<tr>
<td>2</td>
<td>The UK Government is committed to building an asylum system that is firm and fair, based on three major objectives: <br /><br />- To increase the fairness and efficacy of our system so that we can better protect and support those in genuine need of asylum.<br />- To deter illegal entry into the UK, thereby breaking the business model of criminal trafficking networks and protecting the lives of those they endanger; and<br />- To remove more easily from the UK those with no right to be here.<br /><br />How effective, if at all, do you think each of the following will be in helping the UK Government achieve this vision? Please select one response for each statement. &nbsp;<br /><br />A. Strengthening safe and legal routes for those genuinely seeking protection in the UK. <br />B. Reforming legal processes to ensure improved access to justice.<br />C. Reforming legal processes to ensure speedier outcomes.<br />D. Requiring those who claim asylum and their legal representatives to act in &lsquo;good faith&rsquo; by providing all relevant information in support of their claim at the earliest opportunity. <br />E. Enforcing the swift removal of those found to have no right to be in the UK, including Foreign National Offenders; <br />F. Eliminating the ability for individuals to make repeated protection claims to stop their removal, when those follow-up claims could have been raised earlier in the process.<br />G.Preventing illegal entry at the border, for example, by making irregular channel crossings unviable for small boats or deterring other activities such as hiding in the back of lorries.&nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<td>3</td>
<td>Please use the space below to give further detail for your answer. In particular, if there are any other objectives that the Government should consider as part of their plans to reform the asylum and illegal migration systems.&nbsp;&nbsp;</td>
<td>Open&nbsp;</td>
</tr>
</tbody>
</table>

##Chapter 2: Protecting those fleeing persecution, oppression and tyranny

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th>4</th>
<td>As part of the Government&rsquo;s commitment to meet the statutory obligation under Section 3 of the Immigration and Social Security Co-ordination(EU Withdrawal) Act 2020, the Government is reviewing safe and legal routes for protection claimants to enter the UK. More details about this review can be found in Annex A including the definition of protection claimants. You will find questions in this chapter relevant to meeting that commitment.<br /><br />The intention is to maintain clear, well-defined routes for refugees in need of protection, ensuring refugees have the freedom to succeed, ability to integrate and contribute fully to society when they arrive in the UK.<br /><br />In your view, how effective, if at all, do you feel each of the following proposals will be in ensuring the Government can provide safe and legal ways for refugees in genuine need of protection?<br /><br />Please select one response for each statement.<br />- Maintaining a long-term commitment to resettle refugees from around the globe to the UK, including ensuring a full range of persecuted minorities are represented;<br />- Granting resettled refugees immediate indefinite leave to remain on their arrival in the UK;<br />- Reviewing the refugee family reunion routes available to refugees who have arrived through safe and legal routes;<br />- Ensuring resettlement programmes are responsive to emerging international crises-so refugees at immediate risk can be resettled more quickly;<br />- Working to ensure more resettled refugees can enter the UK through community sponsorship encouraging stronger partnerships between local government and community groups;<br />- Introducing a new means for the Home Secretary to help people in extreme need of safety whilst still in their country of origin in life-threatening circumstances;<br />- Enhancing support provided to refugees to help them integrate into UK society and become self-sufficient more quickly;<br />- Reviewing support for refugees to access employment in the UK through our points-based immigration system where they qualify.&nbsp;&nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know</td>
</tr>
<tr>
<th>5</th>
<td>In maintaining clearly-defined safe and legal routes, how important, if at all, are each of the following practical considerations? Please select one response for each statement.<br />- Linking the numbers of refugees the UK resettles to the capacity of local areas to provide help and support.<br />- Prioritising refugees on the basis of their vulnerability or risk.<br />- Prioritising refugees based on their potential to integrate in the UK (e.g. English proficiency, pre-existing ties to the UK, or skills).<br />- Prioritising refugees from persecuted minority groups.<br />- Prioritising the family members of refugees already in the UK. &nbsp;</td>
<td>- Very important<br />- Fairly important<br />- Not very important<br />- Not at all important<br />- Don&rsquo;t know&nbsp;&nbsp;</td>
</tr>
<tr>
<th>6</th>
<td>The intention is to continue to provide support to all those granted refugee status so that they are equipped to properly integrate and contribute to society when they arrive in the UK.<br /><br />In your view, how effective, if at all, do you feel each of the following proposals will be in developing refugee integration support?<br /><br />Please select one response for each statement.<br />- An integration support package should focus on progress to employment (including self-employment).<br />- An integration support package should consider elements such as well-being, language, employment and social bonds.<br />- An integration support package should be delivered at local level to national standards (to an agreed mandatory framework), so that all refugees receive the appropriate level of support, delivered in a way that is appropriate to where they live. &nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<th>7</th>
<td>Please use the space below to give further feedback on the proposals in chapter 2. In particular, the government is keen to understand:<br /><br />(a) If there are any ways in which these proposals could be improved to make sure the objective of providing well maintained and defined safe and legal routes for refugees in genuine need of protection, is achieved; and<br /><br />(b) whether there are any potential challenges that you can foresee in the approach the Government is taking to help those in genuine need of protection. <br /><br />Please provide as much detail as you can.&nbsp;</td>
<td>Open</td>
</tr>
</tbody>
</table>

###Safe and legal routes including Family reunion for unaccompanied asylum seeking children

NB: This section covers the commitments in the Immigration and Social Security Coordination (EU Withdrawal) Act 2020– there will be a 2 page information sheet – separate to the policy statement - to support stakeholders in answering this question.  The information sheet is set out in Annex A.

These questions relate to the separate information sheet on safe and legal routes including family reunion for unaccompanied asylum seeking children. Please refer to this sheet for more information. 

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>8</td>
<td>The Government recognises the importance of reuniting those who are in the UK who are in genuine need of protection, with their family members.<br /><br />How important, if at all, do you think each of the following proposals would be in meeting this objective? Please select one response for each statement.<br /><br /><strong>Reuniting an adult with refugee status in the UK with&hellip;<br /></strong>- <strong>Their</strong><strong> spouse or partner</strong>, wherever their spouse/partner may be in the world.<br />- <strong>Their </strong><strong>own child who is under the age of 18</strong>, wherever their child may be in the world.<br />- <strong>Their</strong><strong> own adult child who is over the age of 18</strong>, wherever their child may be in the world.<br />- <strong>A close family member (e.g. sister</strong><strong>, brother</strong>), wherever that family member may be in the world.<br />- <strong>Another family member (e.g. </strong><strong>uncle, aunt, nephew, niece),</strong> wherever that family member may be in the world.&nbsp;</td>
<td>- Very important<br />- Fairly important<br />- Not very important<br />- Not at all important<br />- Don&rsquo;t know</td>
</tr>
<tr>
<td>9</td>
<td>Now that the UK has left the European Union (EU), protection claimants who have sought international protection in an EU member state can no longer join family members in the UK using EU law.<br /><br />This means those seeking international protection in the EU must apply to join family members in the UK under the Immigration Rules like those from the &lsquo;rest of the world&rsquo;.<br /><br />To what extent do you agree or disagree with this approach to apply the same policy to protection claimants seeking to join family members in the UK, regardless of where they are?&nbsp;</td>
<td>- Strongly agree<br />- Agree<br />- Neither agree nor disagree<br />- Disagree<br />- Strongly disagree<br />-Don&rsquo;t know&nbsp;&nbsp;</td>
</tr>
<tr>
<td>10</td>
<td>Are there any other observations or views you would like to share relating to the UK Government&rsquo;s future policy on safe and legal routes for unaccompanied asylum-seeking children in the EU wanting to reunite with family members in the UK?<br /><br />Please write in your answer and provide as much detail as you can.&nbsp;</td>
<td>Open</td>
</tr>
<tr>
<td>11</td>
<td>Are there any other observations or views you would like to share relating to the UK Government&rsquo;s future policy on safe and legal routes for unaccompanied asylum-seeking children in the rest of the world (outside the EU) wanting to reunite with family members in the UK?<br /><br />Please write in your answer and provide as much detail as you can.</td>
<td>Open</td>
</tr>
<tr>
<td>12</td>
<td>Are there any other observations or views you would like to share relating to the UK Government&rsquo;s future policy on safe and legal routes to the UK for protection claimants in the EU?<br /><br />Please write in your answer and provide as much detail as you can.<br /><br />When you answer please indicate if your views relate to protection claimants who are unaccompanied asylum-seeking children, adults and/or families (adults and accompanied children) in the EU.</td>
<td>Open</td>
</tr>
<tr>
<td>13</td>
<td>Are there any other observations or views you would like to share relating to the UK Government&rsquo;s future policy on safe and legal routes for protection claimants who are adults and/or families (adults and accompanied children) wanting to reunite with family members in the UK?<br /><br />Please write in your answer and provide as much detail as you can. <strong>&nbsp;</strong></td>
<td>Open</td>
</tr>
<tr>
<td>14</td>
<td>Are there any further observations or views you would like to share about safe and legal routes to the UK for family reunion or other purposes for protection claimants and/or refugees and/or their families that you have not expressed?<br /><br />Please write in your answer and provide as much detail as you can.<br /><br />When you answer please indicate if your views relate to protection claimants and/or refugees and/or their families in the EU and/or the rest of the world.</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Chapter 3: Ending anomalies and delivering fairness in British Nationality Law

These questions relate to [chapter 3](https://www.gov.uk/government/consultations/new-plan-for-immigration/new-plan-for-immigration-policy-statement-accessible#chapter3) of the policy statement. Please refer to this chapter for more information

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>15</td>
<td>How effective, if at all, do you feel the following changes will be in contributing to the objective of correcting historic anomalies in current British Nationality law? Please provide an answer for each statement.<br />- Introducing new registration provisions for children of British Overseas Territories Citizen (BOTC) to acquire citizenship more easily;<br />- Fixing the injustice which prevents a child from acquiring their father&rsquo;s citizenship if their mother was married to someone else;<br />- Introducing a new discretionary adult registration route to give the Home Secretary an ability to grant citizenship in compelling and exceptional circumstances where there has been historic unfairness beyond that person&rsquo;s control;<br />- <span>Creating further flexibility to waive residence requirements for naturalisation in exceptional cases. This will mean Windrush victims are not prevented from qualifying because they were not able to return to the UK to meet the residency requirements through no fault of their own.</span></td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know</td>
</tr>
<tr>
<td>16</td>
<td>The Government wants to change the registration route for stateless children, who were born in the UK and have lived here for five years.<br /><br />The Government wants to ensure that those who are genuinely stateless can benefit. People should not be able to acquire these benefits if they purposely fail to acquire their own nationality for their child.<br /><br />To what extent, if at all, do you agree that this is the right approach?</td>
<td>- Strongly agree<br />- Agree<br />- Neither agree nor disagree<br />- Disagree<br />- Strongly disagree<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<td>17</td>
<td>The law currently allows some discretion around naturalisation, to account for exceptional circumstances. However, it is currently an un-waivable requirement that a person must have been in the UK on the first day of their 5 (or 3) year residential qualifying period.<br /><br />The Government is seeking to change the law so that discretion can be exercised when a person was not in the UK on that day in appropriate cases, whilst maintaining the principle that people should have completed a period of continuous residence.<br /><br />This might be used, for example, where a person was a long-term resident of the UK but had been prevented from returning to the UK after a trip overseas five years ago by mistake, as was the case for a number of the Windrush generation, or due to unforeseen compelling circumstances.<br /><br />To what extent, if at all, do you agree that this approach provides sufficiently flexibility to allow people with a strong connection to the UK to qualify for naturalisation?&nbsp;</td>
<td>- Strongly agree<br />- Agree<br />- Neither agree nor disagree<br />- Disagree&nbsp;&nbsp; Strongly disagree<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<td>18</td>
<td>Please use the space below to give further feedback on the proposals in chapter 3. The government is keen to understand:<br /><br />(a) If there are any ways in which these proposals could be improved to make sure the objective of correcting historic anomalies in our nationality laws is achieved; and<br /><br />(b) whether there are any potential challenges that you can foresee in the approach being taken to &nbsp;reform nationality laws.<br /><br />Please, provide as much detail as you can.&nbsp;</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Chapter 4: Disrupting criminal networks and reforming the asylum system

These questions relate to [chapter 4](https://www.gov.uk/government/consultations/new-plan-for-immigration/new-plan-for-immigration-policy-statement-accessible#chapter4) of the policy statement. Please refer to this chapter for more information. 

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>19</td>
<td><span>To protect life and ensure access to our asylum system is preserved for the most vulnerable, we must break the business model of criminal networks behind illegal immigration and overhaul the UK&rsquo;s decades old domestic asylum framework.<br /><br /></span>In your view, how effective, if at all, will the following proposals be in achieving this aim?<br />- Ensuring that those who arrive in the UK, having passed through safe countries, or have a connection to a safe country where they could have claimed will be considered inadmissible to the UK&rsquo;s asylum system.<br />- Seeking rapid removal of inadmissible cases to the safe country from which they embarked or to any other safe third country.<br />- Introducing a new temporary protection status with less generous entitlements and limited family reunion rights for people who are inadmissible but cannot be returned to their country of origin (as it would breach international obligations) or to another safe country.<br />- Bringing forward plans to expand the Government&rsquo;s asylum estate. These plans will include proposals for reception centres to provide basic accommodation while processing the claims of inadmissible asylum seekers.<br />- Making it possible for asylum claims to be processed outside the UK and in another country.</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<td>20</td>
<td>To protect the asylum system from abuse, the Government will seek to reduce attempts at illegal immigration and overhaul our domestic asylum framework.<br /><br />In your view, how effective, if at all, will the following proposals be in achieving this aim?<br />- Changing the rules so that people who have been convicted and sentenced to at least one-year imprisonment and constitute a danger to the community in the UK can have their refugee status revoked and can be considered for removal from the UK.<br />- Supporting decision-making by setting a clearer and higher standard for testing whether an individual has a well-founded fear of persecution, consistent with the Refugee Convention.<br />- Creating a robust approach to age assessment to ensure the Government safeguard against adults claiming to be children and can use new scientific methods to improve the Government&rsquo;s abilities to accurately assess age. &nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<td>21</td>
<td>The UK Government intends to create a differentiated approach to asylum claims. For the first time how somebody arrives in the UK will matter for the purposes of their asylum claim.<br /><br />As the Government seeks to implement this change, what, if any, practical considerations should be taken into account?</td>
<td>Open</td>
</tr>
<tr>
<td>22</td>
<td>The UK Government intends on introducing a more rigorous standard for testing the &ldquo;well-founded fear of persecution&rdquo; in the Refugee Convention.<br /><br />As the Government considers this change, what, if any, practical considerations should be taken into account?</td>
<td>Open</td>
</tr>
<tr>
<td>23</td>
<td>The Government is aware that currently it can take many months to consider asylum applications and intends to ensure that claims from those who enter the UK illegally are dealt with swiftly and efficiently.<br /><br />To help achieve this, in your view, which of the following steps would be the most important? Please rank the following statements from most to least important.<br />1. To use asylum processing centres to accommodate those who enter the UK illegally, whilst they await the outcome of their claim and / or removal from the UK.<br />2. To have an expedited approach to appeals, particularly where further, or repeat claims are made by the individual.<br />3. To ensure there are set timescales for considering claims and appeals made by people who are in immigration detention, which will include safeguards to ensure procedural fairness. This will be set out in legislation.<br />4. To ensure those who do not qualify for protection under the Refugee Convention, but who still face human rights risks, are covered in a way consistent with our new approach to asylum.<br />5. None of these<br />6. Don&rsquo;t know&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>[Rating / ranking of most to least important]</td>
</tr>
<tr>
<td>24</td>
<td>The Government is committed to strengthening the framework for determining the age of people claiming asylum, where this is disputed. This will ensure the system cannot be misused by adults who are claiming to be children.<br /><br />In your view, how effective would <strong>each of</strong> the following reforms be in achieving this aim?<br />- Bring forward plans to introduce a new National Age Assessment Board (NAAB) to set out the criteria, process and requirements to be followed to assess age, including the most up to date scientific technology. NAAB functions may include acting as a first point of review from any Local Authority age assessment decision and carry out direct age assessments itself where required or where invited to do so by a Local Authority;<br />- Creating a requirement on Local Authorities to either undertake full age assessments or refer to people to the NAAB for assessment where they have reason to believe that someone&rsquo;s age is being incorrectly given, in line with existing safeguarding obligations;<br />- Legislating so that front-line immigration officers and other staff who are not social workers are able to make reasonable initial assessments of age. Currently, an individual will be treated as an adult where their physical appearance and demeanour strongly suggests they are &lsquo;over 25 years of age'.&nbsp; We are exploring changing this to &lsquo;significantly over 18 years of age&rsquo;. Social workers will be able to make straightforward under/over 18 decisions with additional safeguards;<br />- Creating a statutory appeal right against age assessment decisions to avoid excessive Judicial Review litigation.</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;</td>
</tr>
<tr>
<td>25</td>
<td>Please use the space below to give further feedback on the proposals in chapter 4. In particular, the government is keen to understand:<br /><br />(a) if there are any ways in which these proposals could be improved to make sure the objective of overhauling our domestic asylum framework is achieved; and<br /><br />(b) whether there are any potential challenges that you can foresee in the approach being taken around asylum reform. Please, provide as much detail as you can.</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Chapter 5: Streamlining asylum claims and appeals

These questions relate to [chapter 5](https://www.gov.uk/government/consultations/new-plan-for-immigration/new-plan-for-immigration-policy-statement-accessible#chapter5) of the policy statement. Please refer to this chapter for more information.

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>26</td>
<td>The Government wants to ensure the asylum and appeals system is faster, fairer and concludes cases more effectively. Our end-to-end reforms will aim to reduce the extent to which people can frustrate removals through sequential or unmeritorious claims, appeals or legal action, while maintaining fairness, ensuring access to justice and upholding the rule of law.<br /><br />In your view, how effective, if at all, will each<strong> of</strong> the following intended reforms be in achieving these aims:<br />- Developing a &ldquo;Good Faith&rdquo; requirement setting out principles for people and their representatives when dealing with public authorities and the courts, such as not providing misleading information or bringing evidence late where it was reasonable to do so earlier;<br />- Introducing an expanded &lsquo;one-stop&rsquo; process to ensure that asylum claims, human rights claims, referrals as a potential victim of modern slavery and any other protection matters are made and considered together, ahead of any appeal hearing. This would require people and their representatives to present their case honestly and comprehensively &ndash; setting out full details and evidence to the Home Office and not adding more claims later which could have been made at the start;<br />- Considering introducing a ground of appeal to the First Tier Tribunal for certain Modern Slavery cases within the &lsquo;one stop&rsquo; process.</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;&nbsp;</td>
</tr>
<tr>
<td>27</td>
<td>The Government wants to ensure the asylum and appeals system is faster, fairer and concludes cases more effectively. Our end-to-end reforms will aim to reduce the extent to which people can frustrate removals through sequential or unmeritorious claims, appeals or legal action, while maintaining fairness, ensuring access to justice and upholding the rule of law.<br /><br />In your view, how effective, if at all, will each<strong> of</strong> the following intended reforms be in achieving these aims:<br />- Providing more generous access to advice, including legal advice, to support people to raise issues, provide evidence as early as possible and avoid last minute claims;<br />- Introducing an expedited process for claims and appeals made from detention, providing access to justice while quickly deciding claims and where appropriate concluding appeals;<br />- Providing a quicker process for Judges to take decisions on claims which the Home Office refuse without the right of appeal, reducing delays and costs from judicial reviews;<br />- Introducing a new system for creating a panel of pre-approved experts (e.g. medical experts) who report to the Court, or require experts to be jointly agreed by the parties;<br />- Expanding the fixed recoverable costs regime to cover immigration judicial reviews (JRs) and encouraging the increased use of wasted costs orders in Asylum and Immigration matters;<br />- Introducing a new fast-track appeal process. This will be for cases that are deemed to be manifestly unfounded or new claims, made late. This will include late referrals for modern slavery insofar as they prevent removal or deportation.&nbsp;&nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td>28</td>
<td>The government believes that all those who are subject to the UK&rsquo;s immigration laws, including those who have arrived here illegally or overstayed their visa, should be required to act in good faith at all times. Currently, the system is susceptible to being abused and there has to be an onus on individuals to act properly and take steps to return to their country of origin where they have no right to remain in the UK. This duty will apply to anyone engaging with the UK authorities on an immigration matter.<br /><br />As a part this requirement, to what extent do you agree or disagree with each of the following principles:<br />1. Individuals coming to the UK (as a visitor, student or other legal means) should leave the country on their own accord, by the time their visa expires.<br />2. Individuals seeking the protection of the UK government should bring their claims as soon as possible.<br />3. Individuals seeking the protection of the UK government should always tell the truth.<br />4. Failure to act in good faith should be a factor that counts against the individual, when considered by the Home Office or judges as part of their decision making.<br />5. Where an individual has not acted in good faith, this will be a relevant and important factor which decision makers and judges should take into account when determining the credibility of the claimant&nbsp;</td>
<td>- Strongly agree<br />- Tend to agree<br />- Neither agree nor disagree<br />- Tend to disagree<br />- Strongly disagree<br />- Don&rsquo;t know</td>
</tr>
<tr>
<td>29</td>
<td>The government propose an amended &nbsp;&lsquo;one stop process&rsquo; for all protection claimants. This means supporting individuals to present all protection-related issues at the start of the process. The objective of this process is to avoid sequential and last-minute claims being made, resulting in quicker and more effective decision making for claimants.<br /><br />Are there other measures not set out in the proposals for a &lsquo;one stop process&rsquo; that the government could take to speed up the immigration and asylum appeals process, while upholding access to justice? Please give data (where applicable) and detailed reasons.&nbsp;</td>
<td>Open</td>
</tr>
<tr>
<td>30</td>
<td>&nbsp;Please use the space below to give further feedback on the proposals in chapter 5. In particular, the government is keen to understand:<br /><br />(a) If there are any ways in which these proposals could be improved to make sure the asylum and appeals system is faster, fairer, and concludes cases more effectively;<br /><br />(b) whether there are any potential challenges that you can foresee in the approach the Government are taking around streamlining appeals.<br /><br />Please, provide as much detail as you can.&nbsp;</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Chapter 6: Modern Slavery – supporting victims

These questions relate to [chapter 6](https://www.gov.uk/government/consultations/new-plan-for-immigration/new-plan-for-immigration-policy-statement-accessible#chapter6) of the policy statement. Please refer to this chapter for more information

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>31</td>
<td>The Government believes we need to act now to build a resilient system which identifies victims of modern slavery as quickly as possible, and ensures that support is provided to those who need it, distinguishing effectively between genuine and vexatious accounts of modern slavery.<br /><br />In your view, how effective, if at all, will <strong>each of</strong> the following intended reforms be in achieving these aims:<br />- Improving First Responders understanding of when to make a referral into the National Referral Mechanism (NRM) and when alternative support services may be more appropriate.<br />- Clarifying the Reasonable Grounds threshold to ensure decision-makers can properly test any concerns that an individual is attempting to misuse the system, and at the same time strengthening operational processes, including how we evaluate evidence, for considering Reasonable Grounds decisions.<br />- Amending the definition of &ldquo;public order&rdquo; to enable the UK to withhold protections afforded by the NRM where there is a link to serious criminality or risk to our national security;<br />- Legislating to clarify the basis on which confirmed victims of modern slavery may be eligible for a grant of temporary, modern slavery specific, leave to remain.<br />- Bringing forward other future legislation to clarify our international obligations to victims in UK law;<br />- Continuing to strengthen the criminal justice system response to modern slavery, providing additional funding to increase prosecutions and build policing capability to investigate and respond to organised crime;<br />- Introducing new initiatives (as set out in Chapter 6 of the policy statement) to provide additional support to victims, improve our ability to prevent modern slavery in the first place, and increase prosecutions of perpetrators. &nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know &nbsp;</td>
</tr>
<tr>
<td>32</td>
<td>Please use the space below to give further feedback on the proposals in chapter 6. In particular, the government is keen to understand<br /><br />(a) If there are any ways in which these proposals could be improved to make sure the objective of building a resilient system which accurately identifies possible victims of modern slavery as quickly as possible and ensures that support is provided to genuine victims who need it is achieved; and<br /><br />(b) whether there are any potential challenges that you can foresee in the approach the government are taking around modern slavery. Please, provide as much detail as you can.&nbsp;</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Chapter 7: Disrupting Criminal Networks Behind People Smuggling

These questions relate to [chapter 7](https://www.gov.uk/government/consultations/new-plan-for-immigration/new-plan-for-immigration-policy-statement-accessible#chapter7) of the policy statement. Please refer to this chapter for more information

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>33</td>
<td>Illegal immigration can cause significant harm and can endanger the lives of those undertaking dangerous journeys.&nbsp; It can also endanger those emergency service workers and Border Force officers who respond to illegal journeys such as those made by small boat.<br /><br />The Government is determined to introduce tough new measures to deter illegal migration by strengthening the protection of our borders<br /><br />In your view, how effective, if at all, will <strong>each of</strong> the following intended reforms be in helping to meet this aim:<br /><br />1. Introducing tougher criminal offences for those attempting to illegally enter the UK, <span>(including raising the penalty for illegal entry from 6 months to&nbsp;2 - 5 years);<br /></span>2. Widening existing powers to tackle those promoting or facilitating illegal migration, including raising the maximum sentence for facilitation to life imprisonment;<br />3. Giving additional powers to Border Force including searching freight containers for immigration purposes, seize and dispose of any vessels and the ability to stop and redirect vessels from the UK where persons being conveyed are suspected of seeking to enter the UK illegally.<br />4. Increasing the penalty to a maximum of 5 years in prison for Foreign National Offenders who return to the UK in breach of a deportation order; <br />5. Overhauling the Clandestine Civil Penalty Regime;<br />6. Implementing an Electronic Travel Authorisation (ETA) scheme to identify and block the entry of those who present a threat to the UK.&nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know &nbsp;</td>
</tr>
<tr>
<td>34</td>
<td>This question relates to the proposals to overhaul the Clandestine Civil Penalty Regime in chapter 7 of the policy statement.<br /><br />The Government recognises that there is an ongoing threat posed to the haulage sector by those who view clandestine concealment in goods vehicles as a means to enter the UK illegally.<br /><br />Efforts to improve lorry security will assist in protecting the industry and borders, and yet the government is still encountering large volumes of vehicles which do not meet the minimum-security standards set out in the Civil Penalty: Prevention of Clandestine Entrants Code of Practice (which can be accessed on Gov.uk).<br /><br />How far do you agree or disagree that improving levels of goods vehicle security is an important step towards reducing illegal entry by clandestine migrants?&nbsp;</td>
<td>- Strongly agree<br />- Tend to agree<br />- Neither agree nor disagree<br />- Tend to disagree<br />- Strongly disagree<br />- Don&rsquo;t know</td>
</tr>
<tr>
<td>35</td>
<td>This question relates to the proposals to overhaul the Clandestine Civil Penalty Regime in chapter 7 of the policy statement<span>&nbsp;</span><span><br /><br /></span><span>The government aims to provide a fair and transparent charging framework that addresses more severe breaches&nbsp;of the Clandestine Entrant Civil&nbsp;</span><span>Penalty</span><span>&nbsp;Code.&nbsp; The government proposes an increase in the level of&nbsp;</span><span>penalty</span><span>.<br /><br /></span><span>What level of fine (per clandestine migrant) do you think&nbsp;is appropriate?&nbsp;</span></td>
<td><span>1. </span><span>The current maximum penalty &nbsp;(&pound;2000 per clandestine migrant)<br /></span><span>2. </span><span>Other amount (please specify)<br /></span><span>3. </span><span>Don&rsquo;t know</span><span>&nbsp;</span>&nbsp;</td>
</tr>
<tr>
<td>36</td>
<td>The Government proposes to legislate for and enforce an electronic travel authorisation (ETAs) scheme i.e., an application for permission to travel to the UK similar to the current process for countries like United States, Canada, Australia and New Zealand.<br /><br />If you have experience of applying for or engaging with travel authorisation schemes operated by other countries, what are your experiences of those schemes?<br /><br />1. Mostly positive<br />2. Equally positive and negative<br />3. Mostly negative<br />4. Not sure / don&rsquo;t know<br />5. I have not had experience of applying<br /><br />Please give details and any relevant data (where applicable) to support your answer.&nbsp;</td>
<td>- Mostly positive<br />- Equally positive and negative<br />- Mostly negative<br />- Not sure/ don&rsquo;t know<br />- I Have not had experience of applying<br /><br />Open&nbsp;</td>
</tr>
<tr>
<td>37</td>
<td>Please use the space below to give further feedback on the proposals in chapter 7. In particular, the government is keen to understand<br /><br />(a) If there are any ways in which these proposals could be improved to make sure the objective of defending the UK border and preventing illegal entry is achieved; and<br /><br />(b) whether there are any potential challenges that you can foresee in the approach the government are taking to defend the border.<br /><br />Please, provide as much detail as you can.&nbsp;</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Chapter 8: Enforcing removals, including of Foreign National Offenders

These questions relate to [chapter 8](https://www.gov.uk/government/consultations/new-plan-for-immigration/new-plan-for-immigration-policy-statement-accessible#chapter8) of the policy statement. Please refer to this chapter for more information

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>38</td>
<td>It is an essential responsibility of any Government to enforce and promote compliance with our immigration laws, ensuring the swift return of those not entitled to be in the UK.&nbsp; The Home Secretary is also under a duty to remove any foreign national offender who has been served a sentence for an offence in the UK of 12 months or more.<br /><br />In your view, how effective, if at all, will <strong>each of </strong>the following reforms be in helping us to build on these principles: <br />- Consulting with local authority partners and stakeholders on implementing the provisions of the 2016 Act to remove support from failed asylum-seeking families who have no right to remain in the UK;<br />- Considering whether to more carefully control visa availability where a country does not co-operate with receiving their own nationals who have no right to be in the UK;<br />- Increasing the early removal provision for Foreign National Offenders who leave the UK from 9 months to 12 months to encourage departure and also add a new &lsquo;stop the clock&rsquo; provision so that they must complete their sentence if they return. This would be in addition to any sentence for returning in breach of a deportation order;<br />- Amending the list of factors for consideration of granting immigration bail and the conditions of immigration bail;<br />- Placing in statute a single, standardised minimum notice period for migrants to access justice prior to enforced removal, and confirm in statute that notice need not be re-issued following a previous failed removal, for example where the person has physically disrupted their removal.&nbsp;&nbsp;</td>
<td>- Very effective<br />- Effective<br />- Somewhat effective<br />- Not at all effective<br />- Don&rsquo;t know</td>
</tr>
<tr>
<td>39</td>
<td>The Government intends on amending the list of factors for consideration of Immigration Bail, to include an individual&rsquo;s compliance with proper immigration process.<br /><br />To what extent, if at all, do you agree or disagree with this proposal?</td>
<td>1. Strongly agree<br />2. Tend to agree<br />3. Neither agree nor disagree<br />4. Tend to disagree<br />5. Strongly disagree<br />6. Don&rsquo;t know</td>
</tr>
<tr>
<td>40</td>
<td>This question relates to the proposals around providing prior notice of a set period (known as the notice period) before the individual is removed. This notice period provides the opportunity to seek legal advice and bring legal challenges ahead of removal.<br /><br />In your view, should this notice period be:<br /><br />1. A minimum of 72 hours, as is currently the case <br />2. 5 working days<br />3. 7 calendar days<br />4. Other length of time (please specify and explain your answer)</td>
<td>Open&nbsp;&nbsp;</td>
</tr>
<tr>
<td>41</td>
<td>Please use the space below to give further feedback on the proposals in chapter 8. In particular, the government is keen to understand<br /><br />(a) If there are any ways in which these proposals could be improved to make sure the objective of enforcing and promoting compliance with immigration laws, ensuring the swift return of those not entitled to be in the UK is achieved; and<br /><br />(b) whether there are any potential challenges that you can foresee in the approach the government is taking around removals.<br /><br />Please write in your answer in full, providing as much detail as you can.</td>
<td>Open</td>
</tr>
</tbody>
</table>

###Public Sector Equality Duty (and other general questions)

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th class="govuk-!-width-one-quarter"><strong>No.</strong></th>
<th class="govuk-!-width-one-half"><strong>Question </strong></th>
<th class="govuk-!-width-one-quarter"><strong>Answer range</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>42</td>
<td>Below is a list of protected characteristics under the Equalities Act:<br /><br />- Age<br />- Disability<br />- Gender reassignment<br />- Marriage and civil partnership<br />- Pregnancy and maternity<br />- Race<br />- Religion or belief<br />- Sex<br />- Sexual orientation<br /><br />From the list of areas below, please select any areas where you feel intended reforms present disproportionate impacts on individuals protected by the Equalities Act.<br /><br />Please expand on your answer for any areas you have selected, providing data (where applicable), further information and detailed reasons.<br />- Strengthening Safe and legal routes (Chapter 2)<br />- Delivering fairness in British nationality laws (Chapter 3)<br />- Reforming the asylum system (Chapter 4)<br />- Streamlining and speeding up removals (Chapter 5)<br />- Reforming the Modern Slavery System (Chapter 6)<br />- Defending the Border and strengthening enforcement (Chapter 7)<br />- Enforcing removals, including of Foreign National Offenders (Chapter 8)<br />- None of these &nbsp;</td>
<td>Multiple choice<br /><br />Open</td>
</tr>
<tr>
<td>43</td>
<td>And in which areas, if any, of the intended reforms do you feel there are likely to be the greatest potential equalities considerations against the listed protected characteristics? (tick all that apply)<br />- Strengthening Safe and legal routes (Chapter 2)<br />- Delivering fairness in British nationality laws (Chapter 3)<br />- Reforming the asylum system (Chapter 4)<br />- Streamlining and speeding up removals (Chapter 5)<br />- Reforming the Modern Slavery System (Chapter 6)<br />- Defending the Border and strengthening enforcement (Chapter 7)<br />- Enforcing removals, including of Foreign National Offenders (Chapter 8)<br />- None of these &nbsp;<br /><br />Please expand on your answer, providing data (where applicable) and further information.&nbsp;</td>
<td>Multiple choice<br /><br />Open</td>
</tr>
<tr>
<td>44</td>
<td>Thinking about any potential equality considerations for the intended reforms in each of the areas, are there any mitigations you feel the Government should consider? Please give data (where applicable) and detailed reasons.</td>
<td>Open</td>
</tr>
<tr>
<td>45</td>
<td>Is there any other feedback on the policy statement content that you would like to submit as part of this consultation?</td>
<td>Open</td>
</tr>
</tbody>
</table>

##Annex A: Information Sheet – Safe And Legal Routes Including Family Reunion For Unaccompanied Asylum-seeking Children

This background information is intended to help you answer questions in Chapter 2 of this consultation. The Government has a proud record of providing protection to those who need it.  Within this, we remain committed to the principle of family unity and to supporting vulnerable children. 

####Key stats
 
- Since 2010 we have granted protection or other forms of leave to over 44,000 children seeking protection. 
- The UK received 3,775 asylum applications from unaccompanied children in 2019, more than any country in the EU and accounting for approximately 20% of asylum claims made in the UK and the 27 EU Member States.  
- There are 5,000 unaccompanied children being cared for in England alone, a significant increase since before the ‘migration crisis’ in 2014.  
- In the year ending December 2020, 5,428 refugee family reunion visas were issued to partners and children of those previously granted asylum or humanitarian protection in the UK.  
- We have issued over 29,000 refugee family reunion visas in the last five years, with over half being for children.

####Background

- Since the end of the transition period at 23h 00 on 31 December 2020, the UK is no longer bound by the Dublin Regulation – an EU instrument for determining which participating EU Member State is responsible for assessing an individual’s asylum claim.  Dublin includes provisions which allow for the family reunion of asylum seekers in one State with family members in another State, including for unaccompanied asylum-seeking children, adults and families (adults and accompanied children).  Statistics on the Dublin Regulation can be found at the link below:

- [https://www.gov.uk/government/statistical-data-sets/asylum-and-resettlement-datasets#dublin-regulation](https://www.gov.uk/government/statistical-data-sets/asylum-and-resettlement-datasets#dublin-regulation)

- Under the existing UK Immigration Rules, unaccompanied asylum-seeking children, in Europe with family members in the UK, are able to apply to join those eligible UK sponsors, such as those with refugee leave or humanitarian protection or with British or settled status. Provisions also exist in the Rules for adults and accompanied children to reunite with relatives in the UK. These routes have not been affected by our exit from the EU or the end of the Transition Period. 

- While the Trade and Cooperation Agreement between the European Union and the United Kingdom, which was signed on 24 December 2020, does not include provisions on family reunion for unaccompanied minors, the parties agreed a joint political declaration on asylum and returns. This noted the UK’s intention to engage in bilateral discussions with the most concerned Member States to discuss suitable practical arrangements on asylum, family reunion for unaccompanied minors or illegal migration, in accordance with the Parties’ respective laws and regulations. Ongoing co-operation on asylum and returns is in the interests of the UK and Member States and we are seeking to establish bilateral arrangements. 

- Alongside work on bilateral arrangements, as part of our new global immigration system we are developing our future approach to safe and legal routes, including routes for family reunion for unaccompanied asylum-seeking children (UASC). 

- Section 3 of the Immigration and Social Security Co-ordination (EU Withdrawal) Act 2020 sets out a number of statutory duties on the Government, including to: 

a. review legal routes to the UK for protection claimants in the EU – including for the family reunion of unaccompanied asylum-seeking children; 

b. publicly consult on legal routes for family reunion for unaccompanied asylum-seeking children; 

c. prepare a report on the outcome of the review, publish that report and lay that report before Parliament.

- This consultation is intended to meet statutory duty (b), as set out in Section 3(3) of the 2020 Act, and the consultation findings will help inform the review in statutory duty (a). A link to the legislation is below:

- [https://www.legislation.gov.uk/ukpga/2020/20/section/3/enacted](https://www.legislation.gov.uk/ukpga/2020/20/section/3/enacted)

- For the purposes of this consultation, protection claimants are either: 
  - individuals who have left their own country and who have made an application for international protection, such as an asylum claim, in another country – this includes those who are from countries outside the EU who have travelled to the EU and have made an application for international protection to an EU Member State; or
  - individuals who are seeking to come to the UK, either from an EU Member State or from a country outside the EU, for the purpose of making a protection claim.

- Whilst our commitments in the Immigration and Social Security Co-ordination (EU Withdrawal) Act 2020 relate to protection claimants in the EU including unaccompanied asylum-seeking children wanting to join relatives in the UK, our review also looks at safe and legal routes for protection claimants both in EU member states and globally. Legal routes mean having a way to enter the UK lawfully.

- Unaccompanied asylum-seeking child means a person under the age of 18 who is not in the care of a person who

a. is aged 18 or over, and

b. by law or custom of the country or territory in which the child is present, has responsibility for caring for the child, and

c. is a protection claimant as set out above.

- Some of those unaccompanied asylum-seeking children will have family members in the UK.

####Existing family reunion routes in UK Immigration Rules

- Asylum seekers in the EU, including unaccompanied asylum-seeking children, who would have been eligible to reunite with family in the UK under the Dublin Regulation, are able to apply under existing UK Immigration Rules, if their family member has the relevant immigration status and they will be granted leave if they can meet the requirements of the Rules.

- The key policies relevant to family reunion under the UK Immigration Rules are set out below: 

a. [Paragraphs 352A-352FJ in Part 11 of the Immigration Rules](https://www.gov.uk/guidance/immigration-rules/immigration-rules-part-11-asylum) set out the requirements for leave to enter or remain in the UK for the purposes of refugee family reunion. These family reunion provisions allow a spouse or partner and children under the age of 18, who formed part of the family unit before their sponsor fled their country, to be reunited with a family member who has been granted refugee status or humanitarian protection in the UK. There are no application charges or biometric enrolment fees for applications under Part 11 of the Immigration Rules. These rules are more generous than other family routes, as they are designed to acknowledge the speed and manner in which families may become separated by conflict and persecution, recognising the stress this may cause and providing a means for immediate family members to reunite in the UK. 

b. [Paragraphs 319X-319XB in Part 8](https://www.gov.uk/guidance/immigration-rules/immigration-rules-part-8-family-members) of the Immigration Rules set out the requirements for leave to enter or remain in the UK as the child of a relative with limited leave to remain as a refugee or beneficiary of humanitarian protection in the United Kingdom. 

c. [Paragraph 297](https://www.gov.uk/guidance/immigration-rules/immigration-rules-part-8-family-members) in Part 8 of the Immigration Rules sets out the requirements for indefinite leave to enter the United Kingdom as the child of a parent, parents or a relative present and settled or being admitted for settlement in the United Kingdom.

d. [Appendix FM](https://www.gov.uk/guidance/immigration-rules/immigration-rules-appendix-fm-family-members) of the Immigration Rules sets out the requirements for those seeking to enter or remain in the UK on the basis of their family life with a person who is a British Citizen, is settled in the UK, is in the UK with limited leave as a refugee or person granted humanitarian protection (and the applicant cannot seek leave to enter or remain in the UK as their family member under Part 11 of these rules), or is in the UK with limited leave under Appendix EU (as set out in Appendix FM).

e. There is also discretion for the decision-maker to grant leave to enter outside the Immigration Rules, where there are exceptional circumstances which mean a refusal under the Rules would result in unjustifiably harsh consequences for the applicant or their family, which would result in a breach of the Article 8 ECHR (European Convention on Human Rights) right to family life or which constitute compelling compassionate grounds.

New guidance has been published on GOV.UK providing an overview of family reunion routes in the Immigration Rules and outside the Rules: 

- [https://www.gov.uk/government/publications/overview-of-family-reunion-options-in-the-immigration-rules](https://www.gov.uk/government/publications/overview-of-family-reunion-options-in-the-immigration-rules)

####Unaccompanied asylum-seeking children without UK family links

- In July 2020 the Government completed its commitment under Section 67 of the Immigration Act 2016 which was introduced following an amendment tabled by Lord Dubs, which committed the government to transfer 480 unaccompanied asylum-seeking children (UASC) from Europe. This scheme for UASC was not a family reunion scheme. A factsheet about that scheme is at the link below:
  
  - [https://www.gov.uk/government/publications/policy-statement-section-67-of-the-immigration-act-2016/factsheet-section-67-of-the-immigration-act-2016](https://www.gov.uk/government/publications/policy-statement-section-67-of-the-immigration-act-2016/factsheet-section-67-of-the-immigration-act-2016)


